<header>
    <app-foto-intro 
    titulo="Front - End"
    bgSrc="../../../assets/bg-area/bg-frontend.jpg"
    bgAlt="Fundo Front - End"
    ></app-foto-intro>
</header>
<main>
    <app-titulo-descricao
    titulo="O que é?"
    texto="Front End é responsável por desenvolver por meio do código uma interface gráfica"
    ></app-titulo-descricao>
    <app-titulo-descricao
    titulo="O que faz ?"
    texto="normalmente, com as tecnologias base da Web: HTML, CSS e JavaScript"
    ></app-titulo-descricao>
    <app-titulo-descricao
    titulo="Tecnologias"
    texto="normalmente, com as tecnologias base da Web: HTML, CSS e JavaScript"
    ></app-titulo-descricao>
</main>