*{
    background-color: #090115;
}

h3{
    color: #CFB7F2;
    padding: 0 2rem;
    padding-top: 1.5rem;
    font-size: 18px;
    font-weight: 300;
}

p{
    color: #EFE7FA;
    padding: 1.5rem;
    font-size: 14px;
    font-weight: 200;
}