<header>
    <img class="foto-perfil" src="../../../assets/ft-perfil.jpeg" alt="Foto de perfil">
    <div class="contato-icon">
        <p><i class="fa-brands fa-github"></i></p>
        <p><i class="fa-brands fa-linkedin"></i></p>
        <p><i class="fa-brands fa-whatsapp"></i></p>
        <p><i class="fa-solid fa-envelope"></i></p>
        <p><i class="fa-brands fa-square-instagram"></i></p>
    </div>
</header>

<main>
    <section class="sobre-projeto">
        <p>Olá, Eu sou o Igor, tudo bem?</p>
        <p>Espero que esse projeto te ajude de alguma maneira a achar o caminho para o seu sucesso.</p>
        <p>Ainda temos muito que aprender!</p>
    </section>
    <section class="dicas">
        <h2>Dicas Pessoais</h2>
        <h3>Dica numero 1:</h3>
        <h4>1 - Fique longe do perfeccionismo!</h4>
        <p>Para isso, simplifique o passo a passo.</p>
        <h4>2 - Com pesquisas rápidas, entenda qual é o objetivo de cada área (front-end, back-end)</h4>
        <p>Agora pense, com qual você se identificou mais?</p>
        <h4>3 - Entenda as tecnologias da área que você escolheu.</h4>
        <p>Por que elas existem? Que tipo de problema elas resolvem?</p>
        <h4>4 - Procure projetos. No youtube tem varios projetos passo a passo ensinando do básico</h4>
        <p>Surgirão muitas duvidas. Não pense duas vezes para pesquisar e achar a resposta</p>
        <p>Toda Linguagem tem uma documentação que te ensina a usar</p>
        <p>Isso quer dizer que você pode aprender sozinho sem depender de cursos!</p>
        <h4>5 - Crie seus próprios projetos!</h4>
        <h3>Dica numero 2:</h3>
        <p>Comece a programar com 8 anos!</p>
        
    </section>
</main>