<section class="page-menu">

    <header>
        <app-foto-intro 
        titulo="Programação" subTitulo="Se torne um gênio" 
        subTituloSpan="hoje!"
        bgSrc="../../../assets/ft-principal.jpg"
        bgAlt="Fundo tecnologico"
        ></app-foto-intro>
    </header>
    <main>
        <p>ENTENDA A SUA ÁREA</p>
        <div class="area tecnologia">
    
            <app-card
            bgSrc="../../../assets/bg-area/bg-frontend.jpg" 
            area="Front - End" 
            style="width: 120px; height: 170px; border: 2px solid #3E68FF;" 
            bgAlt="bg front end"
            *ngIf="true"
            ></app-card>
    
            <app-card 
            bgSrc="../../../assets/bg-area/bg-backend.jpg" 
            area="Back - End" 
            style="width: 120px; height: 170px; border: 2px solid #3DF850;" 
            bgAlt="bg back end"
            ></app-card>
    
            <app-card 
            bgSrc="../../../assets/bg-area/bg-fullstack.jpg" 
            bgAlt="bg full stack"
            area="Full - Stack" 
            style="width: 120px; height: 170px; border: 2px solid #FF3860;" 
            ></app-card>
        </div>
        <p>Road Map Front - End</p>
        <div class="icon tecnologia">
            <app-card 
            iconSrc="../../../assets/icon/globe-solid.svg"
            iconAlt="Internet"
            style="width: 90px; height: 90px; border: 2px solid #0FB6FA;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/html5.svg"
            iconAlt="HTML"
            style="width: 90px; height: 90px; border: 2px solid #E5532D;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/css3-alt.svg"
            iconAlt="CSS"
            style="width: 90px; height: 90px; border: 2px solid #306AF1;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/js.svg"
            iconAlt="JavaScript"
            style="width: 90px; height: 90px; border: 2px solid #F7E025;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/git-alt.svg"
            iconAlt="Git"
            style="width: 90px; height: 90px; border: 2px solid #F05539;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/github.svg"
            iconAlt="GitHub"
            style="width: 90px; height: 90px; border: 2px solid #2C3036;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/npm.svg"
            iconAlt="npm"
            style="width: 90px; height: 90px; border: 2px solid #CD3E3D;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/angular.svg"
            iconAlt="Angular"
            style="width: 90px; height: 90px; border: 2px solid #DE0837;" 
            ></app-card>
    
            <app-card 
            area="More"
            style="width: 90px; height: 90px; border: 2px solid #AF04FF;" 
            ></app-card>
    
        </div>
        <p>Road Map Back - End</p>
        <div class="icon tecnologia">
            <app-card 
            iconSrc="../../../assets/icon/globe-solid.svg"
            iconAlt="Internet"
            style="width: 90px; height: 90px; border: 2px solid #0FB6FA;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/js.svg"
            iconAlt="JavaScript"
            style="width: 90px; height: 90px; border: 2px solid #F7E025;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/git-alt.svg"
            iconAlt="Git"
            style="width: 90px; height: 90px; border: 2px solid #F05539;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/github.svg"
            iconAlt="GitHub"
            style="width: 90px; height: 90px; border: 2px solid #2C3036;" 
            ></app-card>
    
            <app-card 
            area="MySQL"
            style="width: 90px; height: 90px; border: 2px solid #CD3E3D;" 
            ></app-card>
    
            <app-card 
            area="More"
            style="width: 90px; height: 90px; border: 2px solid #AF04FF;" 
            ></app-card>
    
        </div>
        <p>Road Map Full - End</p>
        <div class="icon tecnologia">
            <app-card 
            iconSrc="../../../assets/icon/globe-solid.svg"
            iconAlt="Internet"
            style="width: 90px; height: 90px; border: 2px solid #0FB6FA;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/html5.svg"
            iconAlt="HTML"
            style="width: 90px; height: 90px; border: 2px solid #E5532D;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/css3-alt.svg"
            iconAlt="CSS"
            style="width: 90px; height: 90px; border: 2px solid #306AF1;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/js.svg"
            iconAlt="JavaScript"
            style="width: 90px; height: 90px; border: 2px solid #F7E025;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/npm.svg"
            iconAlt="npm"
            style="width: 90px; height: 90px; border: 2px solid #CD3E3D;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/git-alt.svg"
            iconAlt="Git"
            style="width: 90px; height: 90px; border: 2px solid #F05539;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/github.svg"
            iconAlt="GitHub"
            style="width: 90px; height: 90px; border: 2px solid #2C3036;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/angular.svg"
            iconAlt="Angular"
            style="width: 90px; height: 90px; border: 2px solid #DE0837;" 
            ></app-card>
    
            <app-card 
            iconSrc="../../../assets/icon/node-js.svg"
            iconAlt="NodeJS"
            style="width: 90px; height: 90px; border: 2px solid #93C745;" 
            ></app-card>
    
            <app-card 
            area="More"
            style="width: 90px; height: 90px; border: 2px solid #AF04FF;" 
            ></app-card>
    
        </div>
    </main>
    <footer>
        <app-menu></app-menu>
    </footer>
</section>

<router-outlet></router-outlet>