<section class="page-menu">

    <header>
        <app-foto-intro 
        titulo="Programação" subTitulo="Se torne um gênio" 
        subTituloSpan="hoje!"
        bgSrc="../../../assets/ft-principal.jpg"
        bgAlt="Fundo tecnologico"
        ></app-foto-intro>
    </header>
    <main>
        <p>ENTENDA A SUA ÁREA</p>
        <div class="area tecnologia">
    
            <app-card
            id="1"
            bgSrc="../../../assets/bg-area/bg-frontend.jpg" 
            area="Front - End" 
            style="width: 120px; height: 170px; border: 2px solid #3E68FF;" 
            bgAlt="bg front end"
            ></app-card>
    
            <app-card 
            id="2"
            bgSrc="../../../assets/bg-area/bg-backend.jpg" 
            area="Back - End" 
            style="width: 120px; height: 170px; border: 2px solid #3DF850;" 
            bgAlt="bg back end"
            ></app-card>
    
            <app-card 
            id="3"
            bgSrc="../../../assets/bg-area/bg-fullstack.jpg" 
            bgAlt="bg full stack"
            area="Full - Stack" 
            style="width: 120px; height: 170px; border: 2px solid #FF3860;" 
            ></app-card>
        </div>
        <p>Road Map Front - End</p>
        <div class="icon tecnologia">
            <app-card 
            icon="fa-solid fa-globe"
            style="color: #0FB6FA; width: 90px; height: 90px; border: 2px solid #0FB6FA;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-html5"
            style="color: #E5532D; width: 90px; height: 90px; border: 2px solid #E5532D;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-css3-alt"
            style="color: #306AF1; width: 90px; height: 90px; border: 2px solid #306AF1;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-js"
            style="color: #F7E025; width: 90px; height: 90px; border: 2px solid #F7E025;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-git-alt"
            style="color: #F05539; width: 90px; height: 90px; border: 2px solid #F05539;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-github"
            style="color: #2C3036; width: 90px; height: 90px; border: 2px solid #2C3036;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-npm"
            style="color: #CD3E3D; width: 90px; height: 90px; border: 2px solid #CD3E3D;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-angular"
            style="color: #DE0837; width: 90px; height: 90px; border: 2px solid #DE0837;" 
            ></app-card>
    
            <app-card 
            area="More"
            style="color: #AF04FF; width: 90px; height: 90px; border: 2px solid #AF04FF;" 
            ></app-card>
    
        </div>
        <p>Road Map Back - End</p>
        <div class="icon tecnologia">
            <app-card 
            icon="fa-solid fa-globe"
            style="color: #0FB6FA; width: 90px; height: 90px; border: 2px solid #0FB6FA;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-js"
            style="color: #F7E025; width: 90px; height: 90px; border: 2px solid #F7E025;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-git-alt"
            style="color: #F05539; width: 90px; height: 90px; border: 2px solid #F05539;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-github"
            style="color: #2C3036; width: 90px; height: 90px; border: 2px solid #2C3036;" 
            ></app-card>
    
            <app-card 
            area="MySQL"
            style="color: #CD3E3D; width: 90px; height: 90px; border: 2px solid #CD3E3D;" 
            ></app-card>
    
            <app-card 
            area="More"
            style="color: #AF04FF; width: 90px; height: 90px; border: 2px solid #AF04FF;" 
            ></app-card>
    
        </div>
        <p>Road Map Full - End</p>
        <div class="icon tecnologia">
            <app-card 
            icon="fa-solid fa-globe"
            style="color: #0FB6FA; width: 90px; height: 90px; border: 2px solid #0FB6FA;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-html5"
            style="color: #E5532D; width: 90px; height: 90px; border: 2px solid #E5532D;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-css3-alt"
            style="color: #306AF1; width: 90px; height: 90px; border: 2px solid #306AF1;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-js"
            style="color: #F7E025; width: 90px; height: 90px; border: 2px solid #F7E025;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-npm"
            style="color: #CD3E3D; width: 90px; height: 90px; border: 2px solid #CD3E3D;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-git-alt"
            style="color: #F05539; width: 90px; height: 90px; border: 2px solid #F05539;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-github"
            style="color: #2C3036; width: 90px; height: 90px; border: 2px solid #2C3036;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-angular"
            style="color: #DE0837; width: 90px; height: 90px; border: 2px solid #DE0837;" 
            ></app-card>
    
            <app-card 
            icon="fa-brands fa-node-js"
            style="color: #93C745; width: 90px; height: 90px; border: 2px solid #93C745;" 
            ></app-card>
    
            <app-card 
            area="More"
            style="color: #AF04FF; width: 90px; height: 90px; border: 2px solid #AF04FF;" 
            ></app-card>
    
        </div>
    </main>
    
</section>